<!DOCTYPE html>

<head>
	
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
		<title>Drug computation</title>
	 
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" /> -->
	
	
	<style>
		body {
			margin: 0;
			padding: 0;
		}

		.side-drawer {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			width: 200px;
			background-color: #f2f2f2;
			padding: 20px;
		}

		.tab {
			margin-bottom: 10px;
		}

		.tab a {
			display: block;
			padding: 10px;
			background-color: #fff;
			color: #333;
			text-decoration: none;
			border-radius: 5px;
			transition: background-color 0.3s;
		}

		.tab a:hover {
			background-color: #ddd;
		}

		.content {
			margin-left: 200px;
			padding: 20px;
		}
	</style>

</head>

	<div class="side-drawer">
		<div class="tab">
			<a href="#">NLP BASED </a>
		</div>
		<div class="tab">
			<a href="/morgan">Morgan FP </a>
		</div>
	</div>

	<div class="content">
    <h5 style="margin-top: 80px; margin-left: 35%;"><strong>Welcome to Smile to Property Extraction Portal</strong></h5>
    <div  style="margin-top: 50px; margin-left: 30%; ">
      <div class="d-flex flex-wrap">
        <div class="card m-2" style="background-color: rgb(255, 255, 255); width: 550px; ">
          <div class="card-body">   
            <h5 class="text-center" style="font-size: medium;">Select your Smile CSV file For NLP :</h5>
            <form method="post" action="/" enctype="multipart/form-data" style="margin-left: 8">
              <br>
              <input type="file" name="file" id="file">      
             <input type="submit" value="Upload" style="color: black ; margin-left: 17%; ">
            </form>


				  <!-- from her -->

				  <div class="d-flex justify-content-center  flex-column;">
					<div class="mb-3 " style="margin-top: 5%;">
					
					  <button id="download-button" type="button" class="btn btn-primary" style="background-color: azure; color: #000;" disabled>
						<a href="{{ url_for('download_file', filename=filename) }}" style=" color: #000;">Downloads</a>
					  </button>
					  <button onclick="showGraph()" id="graph-button" class="btn btn-primary" style="background-color: azure; color: #000;" >Visualize Data</button>
				
				  
				  </div>
				  
				  
				</div>  
			
			
			
				  <!-- end here -->




        </div>
      </div>


	  </div>
	</div>
	
	<div id="plot_div_container" style="display: none;">
		<div style="margin-left: 24%; margin-top: 5%;">{{ plot_div|safe }}</div>
	  </div>








  <script>
    function showGraph() {
      var graphDiv = document.getElementById("plot_div_container");
      graphDiv.style.display = "block";
    }
  </script>






	  <!-- end here -->
	

	



	  <div id="accordion" style="margin-top: 7%;">
		<div class="card">
		  <div class="card-header" id="headingOne">
			<h5 class="mb-0">
			  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				How to use the App
			  </button>
			</h5>
		  </div>
	  
		  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
			<div class="card-body" style="color: #000;">
			    <ul>
					<li>Open the Flask application in your web browser by navigating to the appropriate URL.</li>
					<li>Click on the "Select your SMILES CSV file" button to open the file selection dialog box.</li>
					<li>Select the CSV file containing the SMILES strings you want to process and click "Upload".</li>
					<li>Make sure DRUG NAME and SMILE are in capitals in your dataset.</li>
					<li>Wait for the server to process the file, which might take some time depending on the size of the file and the complexity of the processing.</li>
					<li>Once the processing is complete, Click on the "Download" button to download the processed CSV file.</li>
					<li>Save the file to your local machine. The file will be saved with a unique filename generated by the program.</li>
				  </ul>			
				</div>
		  </div>
		</div>

	</div>

	  <!-- end here -->
	  <script>
		// get the filename value
		var filename = "{{ filename }}";
	  
		// get the download button and link elements
		var downloadButton = document.getElementById('download-button');
		var downloadLink = document.getElementById('download-link');
	  
		// check if filename has a value
		if (filename) {
		  // set the href attribute of the download link
		  downloadLink.href = "{{ url_for('download_file', filename=filename) }}";
		  // show the download button
		  downloadButton.style.display = 'block';
		} else {
		  // hide the download button
		  downloadButton.style.display = 'none';
		}
	  </script>
	  

	  <!-- code to hide graph button -->


	  <script>
		
		var filename = "{{ filename }}";
	  
		
		var downloadButton = document.getElementById('graph-button');
		var downloadLink = document.getElementById('download-link');
	  
		
		if (filename) {
		 
		  downloadLink.href = "{{ url_for('download_file', filename=filename) }}";
		
		  downloadButton.style.display = 'block';
		} else {
		
		  downloadButton.style.display = 'none';
		}
	  </script>



	  <!-- code ends here -->
    <!-- it ends here -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script> -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-locale-en-latest.min.js"></script>
 
</body>
</html>
